# Minimal dependencies for celery workers
celery
flower
redis

Flask
Flask-Mail
Jinja2
Markdown
PyYAML
Werkzeug
requests
Flask-SQLAlchemy
email_validator


# Only needed in dev mode (ie to use docker_celery/celery_dev_launch.py)
psutil
watchdog
