# Minimal dependencies for celery workers
# TODO: Fix versions
celery<5  # Flower doesn't support celery 5 yet
flower
redis

Flask
Flask-Mail
Jinja2
Markdown
PyYAML
Werkzeug
requests
Flask-SQLAlchemy
flask-migrate
psycopg2
email_validator

# Dates
python-dateutil
tzlocal

# Only needed in dev mode (ie to use docker_celery/celery_dev_launch.py)
psutil
watchdog

# Scheduler
Flask-APScheduler
