# Requirements for the Flask webapp
# base
Flask
Flask-Mail
Jinja2
Markdown
PyYAML
Werkzeug
requests
email_validator

# Celery
redis
celery

# SQLAlchemy
Flask-SQLAlchemy
flask-migrate
psycopg2

# tests
pytest
